<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lyrics Show</title>
  </head>
  <body>
    <textarea name="original_lyrics" rows="8" cols="40" disabled="true"></textarea>
    <textarea name="rhymed_lyrics" rows="8" cols="40" disabled="true"></textarea>
  </body>
</html>
